@import url('./theme.css');
@import url('./fonts.css');

/* HEADER */
.navbar {
  margin-top: 30px;
  height: 100px;
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
}

.navbar .nav > li {
  float: left;
  line-height: 20px;
}

.navbar .nav > li > a {
  display: block;
  float: none;

  margin: 30px 0px 15px 20px;
  padding-bottom: 5px;

  color: var(--text-light);
  font-family: var(--font-text);

  font-weight: bold;
  text-decoration: none;

  font-size: 12px;
  line-height: 14px;
}

a:link.navbar-link {
  color: var(--text-light) !important;
  /* border-bottom: 1px var(--neon-red) solid; */
}

a:visited.navbar-link {
  color: var(--text-light) !important;
  /* border-bottom: 1px var(--neon-red) solid; */
}

a:hover.navbar-link {
  color: var(--text-light) !important;
  border-bottom: 1px var(--text-light) solid;
}

.social-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: -6px;
}

/* BRAND/LOGO */

.brand {
  float: left;
}

.logo {
  height: auto;
  display: block;
  width: 50px;
  padding: 5px 0px;
}
